<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Добавить перевод</h1>
</div>

<%= form_tag("/new", :method => "post") do %>
    <div class="container" style="width: 400px;">
    <div class="form-group">
        <%= label_tag "Введите идиому на русском" %>
        <%= text_field_tag :str_from, nil, class: "form-control", required: true, autofocus:true %>
    </div>
    <br>
    <div class="form-group">
        <%= label_tag "Введите идиому на английском" %>
        <%= text_field_tag :str_to, nil, class: "form-control", required: true, autofocus:true %>
    </div>
    <br>
    <%= submit_tag "Добавить", class: "btn btn-primary" %>
<% end %>

<% if @error %>
    <div class="alert alert-warning" style="top: 20px;">
        <%= @error %>
    </div>
<% end %>